@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  width: 100vw;
  height: 100vh;
}

.header-note {
  font-family: "Roboto", sans-serif;
  color: grey;
}

.header-note-plus {
  font-family: "Roboto", sans-serif;
  color: #01717c;
}

.header-top {
  border-bottom: 1px solid rgb(233, 233, 233);
}

.header-logo {
  margin-left: 60px;
}

.header-img {
  width: 150px;
}

.bandeau-resto {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.banner-sep {
  border-bottom: 1px solid rgb(232, 232, 232);
  margin-bottom: 20px;
}

.header-resto {
  margin-top: 5px;
  padding-left: 15px;
}

.header-cat {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.description-div {
  width: 800px;
}

.description-resto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  color: rgb(116, 115, 115);
  font-size: 20px;
  margin-top: 20px;
}

.image-resto {
  width: 350px;
  border-radius: 4px;
}

img .prez-img {
  width: 300px;
}

.listing-cat {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-around;
  box-sizing: border-box;
}

.background-categories {
  display: flex;
  background-color: rgb(234, 235, 236);
  max-width: 100vw;
}

.style-cat {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #88d6cd;
  margin-bottom: 20px;
  padding: 5px;
}

.style-cat:hover {
  cursor: pointer;
  background-color: #88d6cd;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
}

.diviseur {
  display: flex;
  justify-content: space-evenly;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.category-p {
  padding: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(234, 235, 236);
  margin-left: 40px;
}

.listing {
  margin-right: 10px;
  margin-bottom: 10px;
}

.prez-menu {
  gap: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prez-menu:hover {
  box-shadow: -1px 0px 8px rgb(141, 141, 141);
  cursor: pointer;
  transition: all 0.3s;
}

.limited-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  color: rgb(72, 72, 72);
  margin-top: 10px;
  margin-bottom: 10px;
}

.food-img {
  display: flex;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: solid 1px rgb(234, 233, 233);
}

.title-product {
  font-family: Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 13px;
}

.price {
  font-family: tahoma, sans-serif;
  font-size: 16px;
  color: rgb(72, 72, 72);
}

.panier-element-empty {
  margin-top: 20px !important;
  max-height: 200px;
  min-width: 450px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 216, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  position: sticky;
  top: 0;
  overflow-x: scroll;
}

.button-moreless {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #22d2af;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
}

.button-moreless-plus {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #22d2af;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-right: 3px;
}

.button-moreless {
  cursor: pointer;
}

.button-moreless-plus {
  cursor: pointer;
}

.price-right {
  text-align: end;
  min-width: 60px;
}

.quantity {
  padding-left: 6px;
  padding-right: 6px;
}

.elems-style-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.button-buy {
  background-color: rgb(179, 179, 179);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: grey;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-top: 30px;
  width: 380px;
  text-align: center;
}

.button-buy-full {
  background-color: #22d2af;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 8px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 4px;
  margin-top: 30px;
  width: 380px;
  text-align: center;
  margin-bottom: 10px;
}

.button-buy-full {
  cursor: pointer;
}

.panier-element {
  margin-top: 20px;
  min-width: 450px;
  padding: 5px;
  height: max-content;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  margin-right: 60px;
  border: 1px solid rgb(218, 218, 218);
  position: sticky;
  top: 0;
  overflow-x: scroll;
}

.panier-element p {
  text-align: center;
}

.panier-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.panier-list-total {
  border-top: 1px solid rgb(208, 208, 208);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  font-weight: 400;
}

.counter-food {
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.right-side-pa {
  display: flex;
}

.marging {
  margin-top: 40px;
}

button {
  width: 10px;
  height: 15px;
}

footer {
  background-color: rgb(56, 57, 57);
  text-align: center;
  height: 30px;
  color: white;
}

.footer-text {
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
}

.undisplay {
  display: none;
}

/* ---- LOADING EFFECT ---- */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 164px;
  height: 164px;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  left: 50%;
  top: 50%;
  animation: rotate 1s ease-in infinite;
}
.loader::after {
  width: 20px;
  height: 20px;
  background-color: #22d2af;
  animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
}

@keyframes moveY {
  0%,
  100% {
    top: 10%;
  }
  45%,
  55% {
    top: 59%;
  }
  60% {
    top: 40%;
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
  }
  25% {
    transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
  }
  45%,
  55% {
    transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
  }
  60% {
    transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
  }
  75% {
    transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
  }
}
